
body {
	font-family: 'Muli', sans-serif;
	background: $maroon-color;
}

nav{
	li{
		text-align:center;line-height:30px; font-size:0.8em;
	}
}

footer{color:$cream-color;
	p{font-size:10px; font-weight:300; line-height:1.4em}
}

section.right-container{
	color:$maroon-color;
}
a {
	color: $maroon-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

section article{padding:60px; line-height:1.6em;font-size:0.8em;text-align: justify;font-family: 'Muli', sans-serif;color:$maroon-color;
	h1{font-size:22px; line-height:3em};
	h3{font-size:1.2em;line-height:2.5em};
	.i{font-style: italic }
	.tomos{text-align: center;line-height: 2.5em;font-size: 2em}
	}
	
	
.social {display:inline-block;width:28px;height:25px;background:url('../img/images/social-icons.png') no-repeat;margin-right:5px;
		&.facebook{background-position:0 0};
		&.twitter {background-position:-38px 0};
		&.tripadvisor {background-position:-74px 0};
		&:hover{cursor:hand;cursor:pointer;}
		}

label{font-size:13px; margin-bottom: 6px;display: block;}
input{width:95%;height:30px; margin-bottom: 12px;border: none;padding: 0px 6px;}
textarea{width:95%;height:100px; border: none;}
button{height:30px;margin-top:30px;width:95%;background:$maroon-color;color:$cream-color;border:0px}