/* Author:
Gruppo Ottomani
www.gruppoottomani.com
*/

/* For: 

*/

/* Website: 

*/


@import "compass/css3";

/* Paths */
$_img: "../img/";

/* Colors */
$maroon-color : #532423;
$bar-color-rgba: 83,36,35,0.6;
$cream-color : #f8e8cf;
$maroon-color : #532423;


/* Fonts */